/* _hero.scss */

#hero {
  background-image:url(/assets/images/homemain1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left:auto;
  margin-right: auto;
  height:715px;
  /*padding-top:em(482px);*/

  /*&.default {height:500px;}*/
}
.hero-inner {
  /*display:table-cell;*/
  vertical-align:middle;
  background-color: $colorPrimary;
  opacity:0.9;
  filter:alpha(opacity=40);
  color:#f9f9f9;
  padding-top: em(25px);
  padding-left: em(25px);
  display:inline-block;
  margin-top:465px;

  h1 {
    margin:0;
  }
  >button {
    @include btn_life;
    height:25px;
    margin-bottom: em(25px);
  }
} /* .hero-inner */
