/* _sidebar.scss */



aside {
	float:right;
	width:319px;


		li{
		list-style: none;
		margin-left:20px;
			>a {
				color:#35373e;
				font-size: 12px;
				font-family: Georgia;
				line-height:1.5em;

			}
		}
		.textwidget {
			p {
				text-transform: none;
				font-size:12px;
				font-family: Georgia;
				color:#35373e;
				text-align: left;
				line-height:1.5em;
		}
	}
		h2 {
			font-family:$gothic;
			font-size:26px;
			font-style: normal;
			color:$colorSecondary;
			border-bottom: 1px solid #d0d4da;
			margin-left:20px;
		}

	.sidebar_box {
		width:270px;
		height:115px;
		background-color: $colorPrimary;
		float:left;
		margin:0 0 40px 20px;
		h3 {
			color:white;
			margin:20px 0 5px 15px;
		}		
		button{
			@include btn_life ();
			width:95px;
			height:25px;
			margin-left:15px;
		}
	} /*sidebar_box */
} /*aside */